html, body{height:100%; margin:0;padding:0;}

* {
  font-family: 'Oxygen', 'Helvetica Neue';
}

p {
  font-size: 12pt;
  line-height: 1.7;
}

/*resize <p> size*/

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

#hidden {
  width: 100%;
  height: 1px;
  margin-bottom: 70px;
}

.centering {
  float:none;
  margin:0 auto;
}

#index-text {
  border-left: 3px solid grey;
}

#index-img {
  width:100%;
  height: 300px;
  margin-bottom: 20px;
}

#index-text p {
  line-height: 1.2;
}

.button {
  background-color: #ffebcc;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.button:hover {
  background-color: #fff3e6;
  text-decoration: none;
  color: black;
}

#view-on-gh {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-size: 9pt;
  font-style: italic;
}

h3 {
  margin-top: 3%;
}

.slider-wrapper {
  width: 85%;
  margin: auto;
}

.slider {
   width: 100%;
   overflow: hidden;
   margin-top: 5%;
   margin-bottom: 3%;
   position: relative;
}

.slider ul {
  width: 700%;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 0;
}

.slider ul li {
  float: left;
  padding: 0;
  margin: 0;
  width: (100/7)%;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

.slider ul li img {
  width: 100%;
  border: none;
}

#prev, #next {
  font-size: 30pt;
  font-family: Helvetica, sans-serif;
  right: 0;
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: none;
  outline: none;
  top: 0;
  bottom: 0;
  width: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align:center;
  opacity: 0;
  z-index: 2;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#prev:hover, #prev:active, #next:hover, #next:active {
  opacity: 1.0;
}
