
<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8 text-justify">
    <h1>Refugee Disasters (2000-2016)</h1>
    <hr style="width:100%; border: 1px solid #ffebcc;margin-bottom: 4%;" />

    <h3>The data</h3>
    <p>
      <a href='http://www.themigrantsfiles.com/'>The Migrants' Files</a> is a collective of journalists that have chronicled the misfortunes of refugees seeking a new life in Europe. They have kindly made their data publicly available at <a href="https://data.hdx.rwlabs.org/dataset/refugee-and-migrant-deaths-while-trying-to-reach-europe/resource/bea9c0fa-51b2-4961-859f-cf22b2c09999">The Humanitarian Data Exchange</a>, a collection of free humanitarian databases.
    </p>
    <p>
      The database consists of a log of media reports of refugees dying or going missing on the way to Europe, from 2000 to the present (still being updated). Each incident has several pieces of context-giving information attached to it. This project has focused on the following properties of each incident: year, month, route taken (into Europe), cause of death, and number of dead or missing persons (summation of dead and missing persons).
    </p>

    <h3>The analysis</h3>
    <p>
      For the numeric variable (number of dead/missing persons), one-way ANOVAs were performed to test for interactions with ordinal variables. Significance was found in the interaction with year, cause of death, and route taken, but not month. TukeyHSD post-hoc tests were performed where F values were significant.
    </p>
    <p>
      For the ordinal variables, chi-squared tests were performed to test for independence. Significance was found in every arrangement of cause of death, route, month, and year. Post-hoc tests were performed in R using the <a href="http://finzi.psych.upenn.edu/library/fifer/html/chisq.post.hoc.html">fifer package</a> for R.
    </p>
    <p>
      Please see this project's <a href='https://github.com/rufusraghunath/refugees'>GitHub repository</a> for further details.
    </p>

  </div><!-- end column middle -->
  <div class="col-md-2"></div>

</div><!-- end row -->

<div class='row'>
  <div class="col-md-12">
    <div class='slider-wrapper'>
      <div class='slider'>
        <ul>
          <li>
            <img src='/graphs/barplot_cod_dom.jpg' />
          </li>
          <li>
            <img src='/graphs/barplot_dom_month.jpg' />
          </li>
          <li>
            <img src='/graphs/barplot_dom_year.jpg' />
          </li>
          <li>
            <img src='/graphs/heatmap_cod_month.jpg' />
          </li>
          <li>
            <img src='/graphs/heatmap_cod_year.jpg' />
          </li>
          <li>
            <img src='/graphs/heatmap_route_month.jpg' />
          </li>
          <li>
            <img src='/graphs/heatmap_route_year.jpg' />
          </li>
        </ul>
        <button id="prev"><<</button>
        <button id="next">>></button>
      </div><!-- end slider -->
    </div><!-- end slider wrapper -->
  </div><!-- end column -->
</div><!-- end row -->

<div class="row">

  <div class="col-md-2"></div>

  <div class="col-md-8 text-justify">
    <h3>Conclusions</h3>
    <p>
      Overall fatalities are increasing and the highest-risk group are refugees traveling into Europe by sea in January via the Western Mediterranean Route. Drowning and exhaustion account for the vast majority of refugee disaster incidents.
    </p>
    <h3>Summary of Results</h3>
    <p>
      Drowning and exhaustion related incidents are by far the most deadly. These incidents have the highest mean death/missing count, as well as the highest count for any one incident (800), thus far surpassing intentional causes of death such as malicious intent (e.g. murder, manslaughter) and authority-related death (e.g. police brutality, torture). Devoting effort to preventing shipwrecks or providing better coastguard/disaster response aid to the affected nautical routes could massively reduce refugee morbidity.
    </p>
    <p>
      The last 15 years have varied greatly in how fatal a given disaster incident is (i.e. how many person die or go missing as a result). In general, incidents have become a good deal more fatal, meaning that any one incident is likely to result in more deaths than before. This may be explained by a greater number of total refugees, thus increasing the number of potential victims of any one incident.
    </p>
    <p>
      Time of year (month) does not appear to affect the mean dead/missing count per incident. This may be explained by the fact that the greatest number of fatalities is accounted for by drowning/exhaustion, which is likely to result in the same fatality rate at any time of year.
    </p>
    <p>
      Across various comparisons, January appears to be most deadly month (highest frequency of incidents reported). This may be due to the presence of more extreme weather conditions, particularly given the finding that drowning and exhaustion incidents account for the majority of refugee deaths (i.e. ships are more likely to founder in bad weather). It follows that aid efforts should be particularly intensified in winter.
    </p>
    <p>
      N.B.: In order to compare relative rather than absolute deadliness of refugee routes, these analyses still need to be adjusted for the number of refugees traveling on each route.
    </p>
  </div>
  <div class="col-md-2"></div>
</div><!-- end row -->
