<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-4">
    <div class="img">
      <div style="width:100%; height: 300px; background-color: grey;">

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h1>Refugee Disasters</h1>
    <h4 style='margin-bottom:7%;'>2000-2016</h4>
    <p class="text-justify">
      A catastrophic number of refugees die or go missing en route to Europe.
    </p>
    <p class="text-justify">
      To render effective aid, it is crucial to understand what dangers refugees are facing along the way. This project analyzed data on incidents of refugee disaster between 2000-2016, compiled by <a href=''>The Migrants' Files</a> and made availbale by <a href=''>The Humanitarian Data Exchange</a>.
    </p>
  </div>



  <div class="col-md-2"></div>
</div><!-- end row -->
