
<div class="row-fluid">
  <div class="col-md-2"></div>

  <div class="col-md-4">
    <div class="centering">
      <img id='index-img' src='/images/boat.jpg'/>
    </div>
  </div>

  <div id='index-text' class="col-md-4" style='margin-bottom:70px;'>
    <h1 style='margin-top:0;'>Refugee Disasters</h1>
    <h4 style='margin-bottom:7%;'>2000-2016</h4>
    <p class="text-justify">
      A catastrophic number of refugees die or go missing en route to Europe every year. To render effective aid, it is crucial to understand what dangers refugees are facing along the way.
    </p>
    <p class="text-justify" style='margin-bottom:7%;'>
      This project analyzed refugee disaster incidents over the last 15 years. The data were compiled by <a href='http://www.themigrantsfiles.com/'>The Migrants' Files</a> and made available by <a href='https://data.hdx.rwlabs.org/'>The Humanitarian Data Exchange</a>.
    </p>

    <a class='button' href='/explore'>Explore</a>

    <a href='https://github.com/rufusraghunath/refugees' id='view-on-gh'>View on GitHub</a>
  </div>



  <div class="col-md-2"></div>
</div><!-- end row -->
