<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Refugee Disasters 2000-2016</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">

  <%=yield%>

  <div class="navbar navbar-default navbar-fixed-bottom" class="container-fluid" style="text-align:center;">
    <div style="margin:auto;">
      <div style="display:inline-block;padding:10px;">
        Made by Rufus Raghunath
      </div>
      <div style="display:inline-block;padding:10px;">
        <a href="https://github.com/rufusraghunath">
          <img style="height:20px;" src="/images/github.png"/>
        </a>
      </div>
      <div style="display:inline-block;padding:10px;">
        <a href="https://www.linkedin.com/in/rufusraghunath?trk=hp-identity-name">
          <img style="height:20px;" src="images/linkedin.png"/>
        </a>
      </div>
      <div style="display:inline-block;padding:10px;">
        <a href="https://codeyourselfdizzy.wordpress.com/">
          <img style="height:20px;" src="/images/wordpress.png"/>
        </a>
      </div>
    </div>
  </div>

  </div><!-- end container-fluid -->

</body>
</html>
