<!DOCTYPE html>
<html lang='en' ng-app='refugeesApp'>
<head>
  <meta charset="utf-8" />
  <script src="angular/app/bower_components/angular/angular.js"></script>
  <script src="angular/app/bower_components/angular-resource/angular-resource.js"></script>
  <script src="angular/app/bower_components/Chart.js/Chart.js"></script>
  <script src="angular/app/bower_components/angular-chart.js/dist/angular-chart.js"></script>
  <link rel="stylesheet" href="angular/app/bower_components/angular-chart.js/dist/angular-chart.css">
  <script src="angular/app/js/app.js"></script>
  <script src="angular/app/js/controllers/controllers.js"></script>
</head>
<body>

  <section ng-controller='BarCtrl'>

    <h2>Total refugee disaster incidents per route, filtered by {{chartType}}: <em>{{chartTitle}}</em></h2>

    <canvas id="bar" class="chart chart-bar" chart-data="data"
    chart-labels="labels" chart-series="series">
    </canvas>

    <h4>Filter by:</h4>

    Incident cause:
    <select ng-model='selected'
    ng-options='dataSet.name for dataSet in incidentCause.data'
    ng-change='changeData();'>
    </select>

    Year:
    <select ng-model='selected'
    ng-options='dataSet.name for dataSet in incidentYear.data'
    ng-change='changeData();'>
    </select>

    Month:
    <select ng-model='selected'
    ng-options='dataSet.name for dataSet in incidentMonth.data'
    ng-change='changeData();'>
    </select>

  </section>

</body>
</html>
